
#aside{float:left;width:442px}
#aside h2{width:442px;height:329px;background:image-url("h2.png") 0 0 no-repeat;text-indent:-9999px}
#aside #text{padding:0 0 0 100px}
#aside p{margin:15px 0 60px 0;font-size:17px;color:#3a0808}
#aside td{font:900 21px 'Arial black',微軟正黑體,Microsoft JhengHei;color:#d64b5e}
#aside td strong{font-size:120px;text-shadow:1px 1px 0 #38A4C0}
#aside td span{font-size:60px;text-shadow:1px 1px 0 #38A4C0}

#article{float:right;width:800px}

#question{margin:65px 0 30px}
#question p{color:#0637A5;padding:0 0 0 83px;font-weight:900}

#select{margin:30px 0 30px 82px;width:570px;overflow:hidden}
#select li{width:285px;float:left;background-position:20px center;background-repeat:no-repeat;height:90px;
-webkit-transition:all ease .3s;-moz-transition:all ease .3s}
#select li a{display:inline-block;width:100%;height:100%;font:900 22px 微軟正黑體,Microsoft JhengHei;
padding:15px 30px 0 70px;cursor:pointer}
#select li:hover{background-color:#6BD9EA}
#select li .wrong{background:image-url("wrong.png") center center no-repeat}
#select li .right{background:image-url("right.png") center center no-repeat}
#select-a{background-image:image-url("select-a.png");border-bottom:1px solid #75FFFF;border-right:1px solid #75FFFF}
#select-b{background-image:image-url("select-b.png");border-bottom:1px solid #75FFFF;border-left:1px solid #2E656E}
#select-c{background-image:image-url("select-c.png");border-top:1px solid #2E656E;border-right:1px solid #75FFFF}
#select-d{background-image:image-url("select-d.png");border-top:1px solid #2E656E;border-left:1px solid #2E656E}

#next a{display:inline-block;width:123px;height:46px;background:image-url("next.png") 0 0 no-repeat;margin-left:38%;
-webkit-transition:all ease .3s;-moz-transition:all ease .3s}
#next a:hover{margin-left:39%}

#office{height:350px;background:image-url("office.png") center bottom no-repeat;position:relative}
#office .people{position:absolute;top:0}
.people-1{left:20%}
.people-2{left:40%}
.people-3{left:60%}

.people-4{left:10%}
.people-5{left:30%}
.people-6{left:50%}
.people-7{left:70%}

#mask{position:fixed;width:100%;height:100%;background:image-url("mask.png");top:0;left:0;z-index:9}
#mask #explain{background:image-url("explain.png") 0 0 no-repeat;width:616px;height:366px;margin:0 auto;
position:relative;top:-100%}
#mask #explain a{display:block;background:image-url("start.jpg") 0 0 no-repeat;width:206px;height:53px;
position:absolute;bottom:45px;left:34%;-webkit-transition:all ease .3s;-moz-transition:all ease .3s}
#mask #explain a:hover{bottom:42px;}


/* Result */

.box{width:1139px;position:relative;top:20%;margin: 12% auto;}
.box table{width:560px;position:absolute;right:180px;font-size:22px}

.box #achivement p{color:#D3D3D3;text-shadow:2px 2px 0 #000}
.box #achivement strong{font:900 88px arial black}
.box #achivement span{color:#fff}
.box #link td{height:110px}
.box #link a{color:#fdff78;border-bottom:1px solid #fdff78}
.box #link a:hover{color:#eee;border-bottom:1px solid #eee}
.box #button a{margin:0 10px}
.box #button a:hover{position:relative;top:-3px}

#failbox{height:572px;background:image-url("fail-bg.png") 0 0 no-repeat}
#failbox table{top:50px}
#failbox #achivement td{height:220px}

#sucsbox{height:592px;background:image-url("sucs-bg.png") 0 0 no-repeat}
#sucsbox table{top:-80px}
#sucsbox #award p{color:#fff}
#sucsbox #award span{color:#ffc705}
#sucsbox #achivement td{height:180px}



/* Hero */

#intro{background:image-url("hero-intro.png") 10% -15px no-repeat;height:300px;padding:150px 0 0 45%}
#intro h2{width:312px;height:51px;text-indent:-7777px;background:image-url("hero-h2.png") 0 0 no-repeat}

#article{width:644px;margin:0 auto}
#article div{width:644px;height:180px;background-position:0 0;background-repeat:no-repeat;margin:10px 0;
position:relative}
#article .best{background-image:image-url("hero-best.png")}
#article .good{background-image:image-url("hero-good.png")}
#article .bad{background-image:image-url("hero-bad.png")}

#article table{width:360px;color:#888888;position:absolute;top:50px;left:0}
#article .self table{color:#EDCB57}
#article .rank{width:120px;height:110px;font:300 70px 'arial black'}
#article .info{padding:0 0 0 10px;width:240px}
#article .info b{font:900 30px 微軟正黑體,Microsoft JhengHei}

#article hr{margin:20px 0;border-top:1px solid #75FFFF;border-bottom:1px solid #2E656E}

#page{text-align:center;margin:40px 0;padding:20px 0 0 0;background:image-url("page.png") center 0 no-repeat}
#page a{display:inline-block;width:25px;height:25px;text-align:center;margin:0 5px;border-radius:50%;padding:3px 0 0 0;
color:#444}
#page a:hover,#page .active{background:#6BD9EA;color:#fff}