<!DOCTYPE html>
<html>
<head>
  <title>Breakup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/style.css">
  
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
  
</head>
<body>

<%= yield %>

</body>
</html>
